.list {
  margin-top: 30px;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  font-weight: bold;
  transition: all 600ms;
  font-size: 1.2rem;

}

.list li:hover{
  background: rgba(0, 0, 0, 0.37);
  border-radius: 3px;
}

.list li .edit {
  margin-right: 5px;
  color: rgb(100, 236, 100);
}

.list li .delete {
  color: rgb(230, 65, 65);
}

.list li .edit:hover,
.list li .delete:hover{
  color: black;

}

.list li .edit,
.list li .delete{
  cursor: pointer;
  transition: all 600ms;
}

.list li span {
  display: flex;
  align-items: center;
}
